.version.index /* version checker */
{
	color: #0000E4;
	background-color: #3381E4;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 565px;
	min-height: 262px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	padding: 50px 194px 188px 201px;
	background: #FFFFFF url("../images/56c56edebf833.jpg") no-repeat center center;
	background-size: cover;
}

#pu155
{
	width: 0.01px;
}

#u155
{
	z-index: 2;
	width: 564px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u159
{
	z-index: 3;
	width: 135px;
	height: 48px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u160
{
	z-index: 4;
	width: 142px;
	height: 48px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 136px;
}

#u161
{
	z-index: 5;
	width: 142px;
	height: 48px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 279px;
}

#u162
{
	z-index: 6;
	width: 142px;
	height: 48px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 422px;
}

#u167-4
{
	z-index: 7;
	width: 135px;
	min-height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C69C6D;
	letter-spacing: -1px;
	font-size: 30px;
	text-align: center;
	line-height: 46px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u176-4
{
	z-index: 15;
	width: 142px;
	min-height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 47px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u177-4
{
	z-index: 19;
	width: 142px;
	min-height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 45px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u178-4
{
	z-index: 23;
	width: 142px;
	min-height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 45px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 422px;
}

#u169-4
{
	z-index: 11;
	width: 328px;
	min-height: 67px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 72px;
	line-height: 86px;
	margin-left: 136px;
	margin-top: 127px;
	position: relative;
}

body
{
	position: relative;
	min-width: 962px;
}

#page .verticalspacer
{
	clear: both;
}

