#u155
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u159
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	position: relative;
}

#u160
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFF00;
	position: relative;
}

#u161
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	position: relative;
}

#u162
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
	position: relative;
}

